<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Inicio de Sesión de Roble y Diseño" />
    <meta name="author" content="Lattice Systems" />
    <meta name="keywords"
          content="muebles, gestión, colores, roles, tipos de madera, unidades de medida, login" />
    <title>
      {% block title %}
        Roble y Diseño - Login
      {% endblock title %}
    </title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='dist/output.css') }}">
  </head>
  <body>
    <div class="flex flex-row gap-8 p-8 w-full h-screen">
      {% block content %}
      {% endblock content %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
  </body>
</html>
