FLASK_APP=app.py
FLASK_ENV=development

DB_USER=example_user
DB_PASSWORD=example_password
DB_HOST=localhost
DB_PORT=3306
DB_NAME=example_db
SECURITY_PASSWORD_SALT=example_salt
SECRET_KEY=example_secret_key
