FLASK_APP=app.py
FLASK_ENV=development

DB_USER=example_user
DB_PASSWORD=example_password
DB_HOST=localhost
DB_PORT=3306
DB_NAME=example_db
SECURITY_PASSWORD_SALT=example_salt
SECRET_KEY=example_secret_key
SECURITY_TOTP_SECRET=example_totp_secret
SECURITY_TOTP_ISSUER=RobleDiseno

# SMTP (Brevo)
MAIL_SERVER=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USE_SSL=false
MAIL_USERNAME=username@smtp-brevo.com
MAIL_PASSWORD=replace_with_new_brevo_smtp_key
MAIL_DEFAULT_SENDER=youremail
SECURITY_EMAIL_SENDER=youremail
SECURITY_TWO_FACTOR_RESCUE_MAIL=youremail

CLOUDINARY_URL=cloudinary://your_cloud_name:your_api_secret@your_api_key
