@layer base {
  :root {
    --font-sans: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-body: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';

    /* TEXT VARIABLES */
    --text-2xs: 0.625rem;
    --spacing-8xl: 90rem;
    --leading-9: 36px; /* rem pls */
    --leading-7: 28px;
    --leading-8: 32px;
    --leading-6: 24px;
    --leading-4: 16px;
    --leading-none: 1px;
    --leading-5: 20px;
    --tracking-tighter: -0.8px;
    --leading-heading-none: 60px;
    --tracking-tight: -0.4px;

    /* BORDER RADIUS VARIABLES */
    --radius-0: 0px;
    --radius-xxs: 2px;
    --radius-xs: 4px;
    --radius-sm: 6px;
    --radius: 8px;
    --radius-base: 12px; 
    --radius-lg: 16px;

    /* BORDER WIDTH VARIABLES */
    --default-border-width: 1px;

    /* TEXT COLORS VARIABLES */
    /* main text color */
    --color-body: theme('colors.gray.600');
    --color-body-subtle: theme('colors.gray.500');

    /* text heading colors */
    --color-heading: theme('colors.gray.900');

    /* used for custom brand colors */
    --color-fg-brand-subtle: theme('colors.blue.200');
    --color-fg-brand: theme('colors.blue.700');
    --color-fg-brand-strong: theme('colors.blue.900');

    /* used for status colors */
    --color-fg-success: theme('colors.emerald.700');
    --color-fg-success-strong: theme('colors.emerald.900');
    --color-fg-danger: theme('colors.rose.700');
    --color-fg-danger-strong: theme('colors.rose.900');
    --color-fg-warning-subtle: theme('colors.orange.600');
    --color-fg-warning: theme('colors.orange.900');
    --color-fg-yellow: theme('colors.yellow.400');
    --color-fg-disabled: theme('colors.gray.400');
    --color-fg-purple: theme('colors.purple.600');
    --color-fg-cyan: theme('colors.cyan.600');
    --color-fg-indigo: theme('colors.indigo.600');
    --color-fg-pink: theme('colors.pink.600');
    --color-fg-lime: theme('colors.lime.600');

    /* BACKGROUND COLOR VARIABLES */
    /* used for neutral colors */
    --color-neutral-primary-soft: theme('colors.white');
    --color-neutral-primary: theme('colors.white');
    --color-neutral-primary-medium: theme('colors.white');
    --color-neutral-primary-strong: theme('colors.white');
    --color-neutral-secondary-soft: theme('colors.gray.50');
    --color-neutral-secondary: theme('colors.gray.50');
    --color-neutral-secondary-medium: theme('colors.gray.50');
    --color-neutral-secondary-strong: theme('colors.gray.50');
    --color-neutral-secondary-strongest: theme('colors.gray.50');
    --color-neutral-tertiary-soft: theme('colors.gray.100');
    --color-neutral-tertiary: theme('colors.gray.100');
    --color-neutral-tertiary-medium: theme('colors.gray.100');
    --color-neutral-quaternary: theme('colors.gray.200');
    --color-neutral-quaternary-medium: theme('colors.gray.200');
    --color-gray: theme('colors.gray.300');

    /* used for brand colors */
    --color-brand-softer: theme('colors.blue.50');
    --color-brand-soft: theme('colors.blue.100');
    --color-brand: theme('colors.blue.700');
    --color-brand-medium: theme('colors.blue.200');
    --color-brand-strong: theme('colors.blue.800');

    /* used for status colors */
    --color-success-soft: theme('colors.emerald.50');
    --color-success: theme('colors.emerald.700');
    --color-success-medium: theme('colors.emerald.100');
    --color-success-strong: theme('colors.emerald.800');
    --color-danger-soft: theme('colors.rose.50');
    --color-danger: theme('colors.rose.700');
    --color-danger-medium: theme('colors.rose.100');
    --color-danger-strong: theme('colors.rose.800');
    --color-warning-soft: theme('colors.orange.50');
    --color-warning: theme('colors.orange.500');
    --color-warning-medium: theme('colors.orange.100');
    --color-warning-strong: theme('colors.orange.700');
    --color-dark-soft: theme('colors.gray.800');
    --color-dark: theme('colors.gray.800');
    --color-dark-strong: theme('colors.gray.900');
    --color-disabled: theme('colors.gray.100');
    --color-purple: theme('colors.purple.500');
    --color-sky: theme('colors.sky.500');
    --color-teal: theme('colors.teal.600');
    --color-pink: theme('colors.pink.600');
    --color-cyan: theme('colors.cyan.500');
    --color-fuchsia: theme('colors.fuchsia.600');
    --color-indigo: theme('colors.indigo.600');
    --color-orange: theme('colors.orange.400');

    /* BORDER COLOR VARIABLES */
    --color-buffer: theme('colors.white');
    --color-buffer-medium: theme('colors.white');
    --color-buffer-strong: theme('colors.white');
    --color-muted: theme('colors.gray.50');
    --color-light-subtle: theme('colors.gray.100');
    --color-light: theme('colors.gray.100');
    --color-light-medium: theme('colors.gray.100');
    --color-default-subtle: theme('colors.gray.200');
    --color-default: theme('colors.gray.200');
    --color-default-medium: theme('colors.gray.200');
    --color-default-strong: theme('colors.gray.200');

    /* used for status colors */
    --color-success-subtle: theme('colors.emerald.200');
    --color-danger-subtle: theme('colors.rose.200');
    --color-warning-subtle: theme('colors.orange.200');
    --color-brand-subtle: theme('colors.blue.200');
    --color-brand-light: theme('colors.blue.600');
    --color-dark-subtle: theme('colors.gray.800');
    --color-dark-backdrop: theme('colors.gray.950');

    /* shiki variables */
    --color-shiki-fg-brand: #79b8ff;
    --color-shiki-fg-brand-subtle: #9ecbff;
  }
}

@layer base {
  .dark {
  /* text color variables */
  --color-body: theme('colors.gray.400');
  --color-body-subtle: theme('colors.gray.400');
  --color-heading: theme('colors.white');
  --color-fg-brand-subtle: theme('colors.blue.200');
  --color-fg-brand: theme('colors.blue.500');
  --color-fg-brand-strong: theme('colors.blue.400');
  --color-fg-success: theme('colors.emerald.600');
  --color-fg-success-strong: theme('colors.emerald.300');
  --color-fg-danger: theme('colors.rose.500');
  --color-fg-danger-strong: theme('colors.rose.300');
  --color-fg-warning-subtle: theme('colors.orange.500');
  --color-fg-warning: theme('colors.orange.300');
  --color-fg-yellow: theme('colors.yellow.400');
  --color-fg-disabled: theme('colors.gray.600');
  --color-fg-purple: theme('colors.purple.500');
  --color-fg-cyan: theme('colors.cyan.500');
  --color-fg-indigo: theme('colors.indigo.500');
  --color-fg-pink: theme('colors.pink.500');
  --color-fg-lime: theme('colors.lime.500');
 
   /* background color variables */
     --color-neutral-primary-soft: theme('colors.gray.900');
     --color-neutral-primary: theme('colors.gray.950');
     --color-neutral-primary-medium: theme('colors.gray.800');
     --color-neutral-primary-strong: theme('colors.gray.700');
     --color-neutral-secondary-soft: theme('colors.gray.900');
     --color-neutral-secondary: theme('colors.gray.950');
     --color-neutral-secondary-medium: theme('colors.gray.800');
     --color-neutral-secondary-strong: theme('colors.gray.700');
     --color-neutral-secondary-strongest: theme('colors.gray.600');
     --color-neutral-tertiary-soft: theme('colors.gray.900');
     --color-neutral-tertiary: theme('colors.gray.800');
     --color-neutral-tertiary-medium: theme('colors.gray.700');
     --color-neutral-quaternary: theme('colors.gray.700');
     --color-neutral-quaternary-medium: theme('colors.gray.600');
     --color-gray: theme('colors.gray.600');
     --color-brand-softer: theme('colors.blue.950');
     --color-brand-soft: theme('colors.blue.900');
     --color-brand: theme('colors.blue.600');
     --color-brand-medium: theme('colors.blue.900');
     --color-brand-strong: theme('colors.blue.700');
     --color-success-soft: theme('colors.emerald.950');
     --color-success: theme('colors.emerald.600');
     --color-success-medium: theme('colors.emerald.900');
     --color-success-strong: theme('colors.emerald.700');
     --color-danger-soft: theme('colors.rose.950');
     --color-danger: theme('colors.rose.700');
     --color-danger-medium: theme('colors.rose.900');
     --color-danger-strong: theme('colors.rose.800');
     --color-warning-soft: theme('colors.orange.950');
     --color-warning: theme('colors.orange.600');
     --color-warning-medium: theme('colors.orange.900');
     --color-warning-strong: theme('colors.orange.700');
     --color-dark-soft: theme('colors.gray.700');
     --color-dark: theme('colors.gray.800');
     --color-dark-strong: theme('colors.gray.700');
     --color-disabled: theme('colors.gray.800');
     --color-purple: theme('colors.purple.500');
     --color-sky: theme('colors.sky.500');
     --color-teal: theme('colors.teal.500');
     --color-pink: theme('colors.pink.500');
     --color-cyan: theme('colors.cyan.500');
     --color-fuchsia: theme('colors.fuchsia.500');
     --color-indigo: theme('colors.indigo.500');
     --color-orange: theme('colors.orange.400');
 
      /* border color variables */
     --color-buffer: theme('colors.gray.950');
     --color-buffer-medium: theme('colors.gray.900');
     --color-buffer-strong: theme('colors.gray.800');
     --color-muted: theme('colors.gray.900');
     --color-light-subtle: theme('colors.gray.900');
     --color-light: theme('colors.gray.800');
     --color-light-medium: theme('colors.gray.700');
     --color-default-subtle: theme('colors.gray.900');
     --color-default: theme('colors.gray.800');
     --color-default-medium: theme('colors.gray.700');
     --color-default-strong: theme('colors.gray.600');
     --color-success-subtle: theme('colors.emerald.900');
     --color-danger-subtle: theme('colors.rose.900');
     --color-warning-subtle: theme('colors.orange.900');
     --color-brand-subtle: theme('colors.blue.900');
     --color-brand-light: theme('colors.blue.600');
     --color-dark-subtle: theme('colors.gray.700');
     --color-dark-backdrop: theme('colors.gray.950');
}

}
}
